<div class="row">
	<div class="col-md-4">
	</div>

	<div class="col-md-4">
		<div class="monitor">
			<div class="main-block">
				<img class="animated fadeIn photo" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/13333015_1010769929036242_3981160821011493017_n.jpg?oh=802e190b3f2aeb0f4f61cf85891ddbbc&oe=594DE357" style="width:400px; height: 400px;">
				
				<h1 class="name">< Domitrius A. Clark /><span class="marker">|</span> </h1>
					<div class="socials">
					<a href="https://www.linkedin.com/in/domitrius-anthony/"><i class="fa fa-linkedin-square fa-5x" style="color: #007bb5;"; aria-hidden="true"></i></a>
					<a href="https://github.com/DomitriusAnthony"><i class="fa fa-github fa-5x" style="color: white;" aria-hidden="true"></i></a>
					</div>
			</div>
		</div>
	</div>


	<div class="col-md-4">
	</div>








</div>