<div class="container-fluid">
	<div class="row">
		<div class="content-landing">
			<div class="col-md-12">
				<div class="monitor">
					<div class="main-block">
						<p class="name big-name">< Domitrius A. Clark /><span class="marker">|</span> </p>
						<p class="about animated bounceInDown">Full Stack Web Developer. Nerd. Gamer.</p>
					</div>
				</div>
			</div>
		</div>
	
<div id="second_block">
	<div class="about-block">
		<div class="col-4"></div>

		<div class="col-4 info">

			<h1><u>About</u></h1>

			<h3>Who am I?</h3>
			<p class="info-text"> My new found journey into the tech world has fully solidified my "nerd" status. From code and design to gaming, to everywhere in between, I've always found myself engulfed. I spend most of my time now doing my best to join the two!</p>

			<h3>What do I do?</h3>
			<p class="info-text">I currently am working on open source projects and pet projects to further my craft. I am avidly searching for for a full time Jr. Developer position to put my roots down and really contribute my skills and learn from my team. I'm also always open to freelance/contract jobs for side work! </p>

			<h3>What did I do before code?</h3>
			<p class="info-text">From the ripe, job entering age of 16, I jumped right into customer service. The quality that always stands out to most is my engaging personality and consistent quality in conversation. With that I spent the next 6 years+ building my standing in sales to eventually become a top performing manager by 22. I dabbled in code here and there and eventually quit my full time job and jumped into NYCDA, for a full time web dev intensive!</p>

			<h3>Free time</h3>
			<p class="info-text"> I spend a lot of my time building on my pet project PressStart, trying to build the gaming community with my code and doing all that I can to learn ways to expand my code base. I also love comic books, video games, and running out to as many tech events as I can!</p>

			<h3>Skills</h3>
			<h5>FrontEnd:</h5>
			<p>HTML5, CSS3, Angular.JS</p>
			<h5>BackEnd:</h5>
			<p>Ruby on Rails, Node.js</p>
			<h5>Other Skills:</h5>
			<p>Testing, Agile Development</p>
			<h5>Currently working on:</h5>
			<p>MEAN, PHP, UI/UX</p>
		</div>
		</div>
		

		<div class="col-4"></div>
	</div>


	<div id="third-block" class="col-md-12">
		<div class="col-md-3"></div>	
		<div class="col-md-6">
		<div class="portfolio-content">
			<h1 class="port-header"><u>Portfolio</u></h1>
			<div class="list-group">
			      <div class="list-group-item col-md-12" ng-repeat="project in portfolio.projects"">
			        <h3 style="text-align: center;">{{project.name}} </h3>
			        <img ng-src="{{project.image}}" style="width: 300px; width: 500px; display: block; margin: 0 auto; margin-bottom: 20px;" />
			        <hr>
			        <section ng-controller="TabController as tab">
			          <ul class="nav nav-pills">
			            <li ng-class="{ active:tab.isSet(1) }">
			              <a href="" ng-click="tab.setTab(1)">Description</a>
			            </li>
			            <li ng-class="{ active:tab.isSet(2) }">
			              <a href="" ng-click="tab.setTab(2)">Links</a>
			            </li>
			            <li ng-class="{ active:tab.isSet(3) }">
			              <a href="" ng-click="tab.setTab(3)">Preview</a>
			            </li>
			          </ul>

			         <!--  Tab 1 for name and description of the project -->
			          <div ng-show="tab.isSet(1)">
			            <blockquote>
			            	{{project.description}}
			            </blockquote>
			          </div>
			          
			          <!-- Tab 2 for links to websites of project -->
			          <div ng-show="tab.isSet(2)">
			            <blockquote>
			            	<a href="{{project.link1}}"><p>Live Website</p></a>
			            	<a href="{{project.link2}}"><p>Github</p></a>
			            </blockquote>
			          </div>

			          <!-- Tab 3 for screen recording -->
			          <div ng-show="tab.isSet(3)">
			          	<video width="320" height="240" controls>
  							<source src="{{project.recording}}" type="video/mp4">
						</video>

			          </div>

			        </section>
			      </div>
			 </div>    		
		</div>
		</div>
		<div class="col-md-3"></div>
   	</div>	

		<div class="col-md-12 contact">
				<div class="col-md-4"></div>

				<div class="col-md-4">
	   				<div class="socials">
						<a href="https://www.linkedin.com/in/domitrius-anthony/"><i class="fa fa-linkedin-square fa-5x icon" style="color: #007bb5;"; aria-hidden="true"></i></a>
						<a href="https://github.com/DomitriusAnthony"><i class="fa fa-github fa-5x icon" style="color: black;" aria-hidden="true"></i></a>
						<a href="mailto:domitriusaclark@gmail.com"><i class="fa fa-envelope fa-5x icon"></i></a>  
					</div>
	   			</div>
	   			<div class="col-md-4"></div>
	   	</div>






</div>
</div>


