
<div class="row">
	<div class="content-landing">

	<div class="col-md-4">
	</div>

	<div class="col-md-4">
		<div class="monitor">
			<div class="main-block">
				<img class="animated bounceInLeft photo" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/13333015_1010769929036242_3981160821011493017_n.jpg?oh=802e190b3f2aeb0f4f61cf85891ddbbc&oe=594DE357" style="width:400px; height: 400px; display: block; margin: 0 auto;">
				
				<h1 class="name">< Domitrius A. Clark /><span class="marker">|</span> </h1>

				<p class="about animated fadeIn">Full Stack Web Developer. Nerd. Gamer.</p>

			</div>
		</div>
	</div>

	
	<div class="col-md-4">
	</div>

	</div>
	<div class="col-md-12">
		<div class="portfolio-content">
			<div class="list-group">
			      <div class="list-group-item col-md-6" ng-repeat="project in portfolio.projects">
			        <h3 style="text-align: center;">{{project.name}} </h3>
			        <img ng-src="{{project.image}}" style="width: 300px; width: 500px; display: block; margin: 0 auto; margin-bottom: 20px;" />
			        <hr>
			        <section ng-controller="TabController as tab">
			          <ul class="nav nav-pills">
			            <li ng-class="{ active:tab.isSet(1) }">
			              <a href="" ng-click="tab.setTab(1)">Description</a>
			            </li>
			            <li ng-class="{ active:tab.isSet(2) }">
			              <a href="" ng-click="tab.setTab(2)">Links</a>
			            </li>
			            <li ng-class="{ active:tab.isSet(3) }">
			              <a href="" ng-click="tab.setTab(3)">Preview</a>
			            </li>
			          </ul>

			         <!--  Tab 1 for name and description of the project -->
			          <div ng-show="tab.isSet(1)">
			            <blockquote>
			            	{{project.description}}
			            </blockquote>
			          </div>
			          
			          <!-- Tab 2 for links to websites of project -->
			          <div ng-show="tab.isSet(2)">
			            <blockquote>
			            	<a href="{{project.link1}}"><p>Live Website</p></a>
			            	<a href="{{project.link2}}"><p>Github</p></a>
			            </blockquote>
			          </div>

			          <!-- Tab 3 for screen recording -->
			          <div ng-show="tab.isSet(3)">
			          	<video width="320" height="240" controls>
  							<source src="{{project.recording}}" type="video/mp4">
						</video>

			          </div>

			        </section>
			      </div>
			 </div>    		
		</div>
   	</div>	

		<div class="col-md-12 contact">
			<div class="col-md-4">

				
			</div>
	   		<div class="col-md-4">
   				<h2 class="about">Get in touch and lets bring your ideas to life!</h2>
   				<div class="socials">
					<a href="https://www.linkedin.com/in/domitrius-anthony/"><i class="fa fa-linkedin-square fa-5x" style="color: #007bb5;"; aria-hidden="true"></i></a>
					<a href="https://github.com/DomitriusAnthony"><i class="fa fa-github fa-5x" style="color: white;" aria-hidden="true"></i></a>
					<a href="mailto:domitriusaclark@gmail.com"><i class="fa fa-envelope fa-5x"></i></a>  
					</div>
			</div>
			<div class="col-md-4">
				
			</div>
	   	</div>





</div>


