<!DOCTYPE html>
<html ng-app="portfolio">
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-controller="PortfolioController as portfolio">
<nav>
  <div class="navbar navbar-fixed-top navbar-right" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class="sprite-icon-dart-logo"></i></a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
           <li>
              <a href="/" >
                Home
              </a>
            </li>

            <li>
              <a href="/portfolio" >
                    Projects
              </a>
            </li>
            
            <li>
              <a href="/contact">
                    Contact
              </a>
            </li>
          </ul>

          </div>
      </div><!-- /.container -->
    </div>
</nav>


    <%= yield %>
  </body>
</html>
